<section class="jumbotron ">
  <h3>Welcome to SVEvents Dashboard</h3>
  <p class="lead">

  </p>
  <event>
    <h3 ng-bind="main.event.name"></h3>
    <summary ng-bind="main.event.summary"></summary>
    <organiser ng-bind="main.event.organiser"></organiser>
    <br>
    <a ng-href="{{main.event.website}}" target="_blank">Find out more details...</a>
    <h3>Registered users {{main.users.length}}</h3>

    <users>
      <user ng-repeat="user in main.users">
        <name ng-bind="user.name"></name>
      </user>
    </users>
    <h3>Whereabouts {{main.whereabouts.length}}</h3>

    <locations>
      <location ng-repeat="location in main.whereabouts">
        <h4 style="color:{{location.colour}}"><location ng-bind="location.name"></location> </h4>
        <users>
          <user ng-repeat="(entryKey, entry) in location.users">
            <name ng-blind="entry.user.name"></name>
            <received-at ng-blind="entry.receivedAt"></received-at>
          </user>
        </users>
      </location>
    </locations>

  </event>

</section>

