<section class="jumbotron " style="padding:20px;margin-bottom: 0; font-size: 1.3em;">

  <h3>Whereabouts
    <small>({{main.whereabouts.length}} rooms)</small>
  </h3>

  <locations class="locations visualised">
    <location class="location" ng-repeat="location in main.whereabouts | orderBy:'order'"
              style="border-top: solid 10px {{location.colour}}">
      <h5 style="border-bottom: solid 1px #ccc; padding-bottom: 3px;">{{location.name}} ({{count(location.users)}})</h5>
      <users class="users">
        <user class="user" ng-repeat="(entryKey, entry) in location.users">
          <i class="icon glyphicon glyphicon-user"></i>
          <username ng-bind="entry.user.name"></username>
          <small>(
            <received-at ng-bind="entry.receivedAt | toDate | date:'HH:mm:ss'"></received-at>
            )
          </small>
        </user>
      </users>
    </location>
  </locations>
  <small class="users" style="margin-top: 10px; display: block;">
    Registered users: <a href='#/' ng-click="showHistory(user)" ng-repeat="user in main.users">{{user.name}}, </a>
  </small>

  </event>

</section>

<div class="modal fade" tabindex="-1" role="dialog" ng-class="{'in': showHistoryDialog}" ng-show="showHistoryDialog"
     style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                          ng-click="hideHistory()">&times;</span>
        </button>
        <h4 class="modal-title">{{selectedUser.name}} visits</h4>
      </div>
      <div class="modal-body">
        <ul style="padding-left: 0; list-style: none">
          <p ng-if="selectedUserVisits.length==0">
            <i class="glyphicon glyphicon-exclamation-sign" style="font-size: 2em; vertical-align: middle;"></i>
            No recorded visit history for {{selectedUser.name}}
          </p>
          <li ng-repeat="(key, visits) in selectedUserVisits | orderBy: 'visited' : true | groupBy:'groupBy'" style="margin-bottom: 40px;">
            <h4 ng-bind="key | dateSuffix" style="border-bottom: solid 1px #ccc; padding-bottom: 5px;"></h4>
            <p ng-repeat="visit in visits">
              {{visit.visited | date:'mediumTime'}} - {{visit.name}}
            </p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="hideHistory()">Close</button>
      </div>
    </div>
  </div>
  <div
    style="background-color: rgba(0, 0, 0, 0.44); width: 100%; height: 100%; position: fixed; top:0; left: 0; z-index: -1;"></div>
</div>

