<section class="jumbotron ">
  <h1>Welcome to SVBeacon Dashboard</h1>
  <p class="lead">

  </p>
  <locations>
    <location class="row"
      ng-repeat="location in main.locations">
      <location-no ng-bind="location.no"></location-no>

      <!-- beacon-id ng-bind="location.beaconId"></beacon-id -->

      <attendees>
        <attendee ng-repeat="attendee in location.attendees">
          <name ng-bind="attendee.name"></name>
          <email ng-bind="attendee.email"></email>
        </attendee>
      </attendees>
    </location>

  </locations>

</section>

