<section class="jumbotron ">
  <h3>Settings</h3>
  <config>
    <h4>Locations</h4>
    <button class="btn btn-primary"
    ng-click="settings.update(settings.event, settings.locations)">Update Locations</button>
    <locations>
      <location ng-repeat="location in settings.locations | orderBy:'order'">
        <h4 style="color:{{location.colour}}"><location ng-bind="location.locationName"></location> </h4>
        <label>Proximity</label>
        <hint>Prosimity to decide whether the user is entered or exited</hint>
        <br>
        <value ng-bind="location.settings.whereabouts.proximity"></value>
        <br>
        <label>Number of Times to decide</label>
        <hint>Number of signals or seconds to decide whether the user is entered or exited</hint>
        <br>
        <value ng-bind="location.settings.whereabouts.numberOfTimesToDecide"></value>
        <br>
      </location>
    </locations>

  </config>

</section>

